@{
  Layout = "_Layout";
}

@if (Model["selected-client"] != null)
{
  <div class="well">
    <h4>@Model["selected-client"].Name</h4>
    <h5><b>birthday:</b> @Model["selected-client"].Birthday</h5>
    <h5><b>email:</b> @Model["selected-client"].Email</h5>
    <form action='/stylists/@Model["this-stylist"].Id/clients/@Model["selected-client"].Id/delete'>
      <button class="btn btn-danger" type="submit">Delete Client</button>
    </form>
  </div>
}
