@{
  Layout = "_Layout";
}
<h1>Stylist Profile<h1>
<h2>@Model["this-stylist"].Name</h2>
<h4>Rate: $@Model["this-stylist"].Rate /hr</h4>
<h4>Skills: @Model["this-stylist"].Skills</h4>

<h3>Clients</h3>

@if(Model["stylist-clients"].Count == 0)
      {
        <div class="alert alert-warning">
          <p><b>ALERT: </b>Stylist has no current clients!</p>
        </div>
        <a href='/stylists/@Model["this-stylist"].Id/clients/new'>Add a client</a>
      }
      else
      {
        <ul>
          @foreach(var client in Model["stylist-clients"])
          {
            <li><a href='/stylists/@Model["this-stylist"].Id/clients/@client.Id'>@client.Name</a></li>
          }
        </ul>
      }

<br></br>
@Html.Partial("selected-client")
<br></br>
<a href="/">Go Back</a>
